{{#dragulember-sortable dropEndAction='onDrop' dragAction='onDrag' as |d|}}
  {{#d.container class="list" id="list-1" }}
    {{#each list as |item index|}}
        <div id="list-1-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}

  {{#d.container class="list" id="list-2"}}
    {{#each listTwo as |item  index|}}
        <div id="list-2-item-{{index}}">{{item.name}}</div>
    {{/each}}
  {{/d.container}}
{{/dragulember-sortable}}
