<h2>
  Re-styled
</h2>

<Dragula @onDrop={{this.dropped}} @onDrag={{this.dragged}} as |Container|>
  <Container class="list">
    {{#each this.listOne as |item|}}
      <div class="item restyle">
        {{item.name}}
      </div>
    {{/each}}
  </Container>

  <Container class="list">
    {{#each this.listTwo as |item|}}
      <div class="item restyle">
        {{item.name}}
      </div>
    {{/each}}
  </Container>
</Dragula>