{{#dragulember-sortable}}
  {{#dragulember-sortable-container }}
    {{#each list as |item|}}
        <div id={{item.name}}>{{item.name}}</div>
    {{/each}}
  {{/dragulember-sortable-container}}

{{#dragulember-sortable-container}}
    {{#each listTwo as |item|}}
        <div id={{item.name}}>{{item.name}}</div>
    {{/each}}
  {{/dragulember-sortable-container}}
{{/dragulember-sortable}}
