<h2>Re-styled</h2>

{{#ember-dragula on-drop=(action "dropped") on-drag=(action "dragged") as |d|}}
  {{#d.container class="list"}}
    {{#each list as |item|}}
      <div class="item restyle">{{item.name}}</div>
    {{/each}}
  {{/d.container}}

  {{#d.container class="list" }}
    {{#each listTwo as |item|}}
      <div class="item restyle">{{item.name}}</div>
    {{/each}}
  {{/d.container}}
{{/ember-dragula}}