<h2>
  Re-styled
</h2>

<EmberDragula @onDrop={{this.dropped}} @onDrag={{this.dragged}} as |d|>
  <d.Container class="list">
    {{#each this.listOne as |item|}}
      <div class="item restyle">
        {{item.name}}
      </div>
    {{/each}}
  </d.Container>

  <d.Container class="list">
    {{#each this.listTwo as |item|}}
      <div class="item restyle">
        {{item.name}}
      </div>
    {{/each}}
  </d.Container>
</EmberDragula>