{{#dragulember-sortable dropEndAction='onDrop' dragAction='onDrag'}}
  {{#dragulember-sortable-container }}
    {{#each list as |item|}}
        <div>{{item.name}}</div>
    {{/each}}
  {{/dragulember-sortable-container}}

  {{#dragulember-sortable-container}}
    {{#each listTwo as |item|}}
        <div>{{item.name}}</div>
    {{/each}}
  {{/dragulember-sortable-container}}
{{/dragulember-sortable}}
