html{
  font-family: "Helvetica";
}

body{
  margin: 0 auto;
  width: 50%;
}

.heading {
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: table;
}

.list {
  display: table-cell;
  padding: 10px;
}
.item {
  margin: 5px auto 5px auto;
}

.example-content {
  margin: 0 auto;
  width: 75%;
}

.restyle {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 1px 1px 0px  rgba(149,149,149,1);
}

.restyle.gu-transit {
  width: inherit !important;
  height: inherit !important;
  box-sizing: border-box;
  background: #fff;
  height: 10px;
  border: 1px dashed #00aeef;
  border-radius: 5px;
  margin: 5px auto 5px auto;
}

.restyle.gu-mirror {
  width: initial !important;
  height: initial !important;
  transform: rotate(7deg);
}
