:root {
  --font: sans-serif;
  --shadow: silver;

  font-family: var(--font);
}

.examples {
  text-align: center;
}

.example {
  margin: 0 auto;
  display: table;
}

.list {
  display: table-cell;
  padding: 10px;
}

.item {
  margin: 5px auto;
}

.ember-dragula {
  display: inline-block;
}

.item.restyle {
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 1px 1px 0 var(--shadow);
}

.item.restyle.gu-mirror {
  transform: rotate(7deg);
}
