<div class="dragula" ...attributes {{this.dragula}}>
  {{#let
    (component
      this.DragulaContainer
      onInsert=this.addContainer
      onDestroy=this.removeContainer
    )
    as |Container|
  }}
    {{yield Container}}
  {{/let}}
</div>