<div class="ember-dragula" ...attributes {{this.dragula @options}}>
  {{#if this.drake}}
    {{#let
      (component
        (ensure-safe-component this.EmberDragulaContainer)
        onInsert=this.addContainer
        onDestroy=this.removeContainer
      ) as |Container|
    }}
      {{yield (hash Container=Container)}}
    {{/let}}
  {{/if}}
</div>