<div class="ember-dragula" ...attributes {{this.dragula @options}}>
  {{#if this.drake}}
    {{#let
      (component
        (ensure-safe-component this.EmberDragulaContainer) drake=this.drake
      )
      as |Container|
    }}
      {{yield (hash Container=Container)}}
    {{/let}}
  {{/if}}
</div>