<div class="ember-dragula" ...attributes {{this.dragula}}>
  {{#let
    (component
      (ensure-safe-component this.EmberDragulaContainer)
      onInsert=this.addContainer
      onDestroy=this.removeContainer
    )
    as |Container|
  }}
    {{yield (hash Container=Container)}}
  {{/let}}
</div>