<div class="ember-dragula" ...attributes>
  {{yield
    (hash
      Container=(component
        "ember-dragula-container"
        onInsert=this.addContainer
        onDestroy=this.removeContainer
      )
    )
  }}
</div>