<h2 id="title">Ember-dragula</h2>

<div class="column">
  <h3 class="heading">Basic Drag and Drop</h3>
  {{test-drag class="container"}}
</div>

<div class="column">
  <h3 class="heading">Drag and drop with options</h3>
  {{test-options class="container"}}
</div>

<div class="column">
  <h3 class="heading"> Re styled </h3>
  {{test-styles mirror-container=this class="container"}}
</div>