<h2 id="title">Dragulember sortable test app</h2>

<div class="column">
  <h3>Basic Drag and Drop</h3>
  {{test-drag class="container"}}
</div>

<div class="column">
  <h3>Drag and drop with options</h3>
  {{test-options class="container"}}
</div>